.product-list {
  grid-area: list;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 50px);
}

.product-list p {
  margin: 0px;
  font-size: x-large;
}

.product-list-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product-list-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product-list-header-column {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-list-column {
  display: flex;
  align-items: center;
  justify-content: center;
}